$color-selection: #fff;
$valor0: 0px ;
$valor100: 100%;
::selection {
    background: #03a4ed;
    color: $color-selection;
  }

.background-header {
    height: $valor0 ;
    position: $valor0;
    top: $valor0;
    left: $valor0;
    right: $valor0;
    box-shadow: $valor0; 

        .nav{

            li{ 

                 a.active:after {
                    position: absolute;
                    width: 20px;
                    height: 2px;
                    background-color: #4771cb;
                    content: '';
                    left: 50%;
                    bottom: 0px;
                    transform: translateX(-10px);
                } 
                a.active {
                    position: relative;
                    color:$color-selection;
                } 
             }
        } 
        .logo{  
            color:$color-selection ; 
        }
        .main-nav{
            .nav{
                li:hover{
                    a{
                       color: #33ccc5;
                   }                       
               }
                li{
                    a{
                    color:$color-selection;
                    }
                } 
            } 
        } 
 } 

 .grid-sizer,
 .grid-item {
     width: math.div( $valor100,2);
 }


.our-services section{
    .container-fluid{
        .row{
            .col-lg-4{
                .service-item .wow .bounceInUp{
                    .row{
                        .col-lg-8{
                         .right-content{
                                img{
                                 #Img-cubo{
                                         height: 126px;

                                    }
                                }
                            }
                         }
                    }
                }
            }
         }
    }
}





