$color-selection: #fff;
$color-background-selection: #03a4ed;
$color-link: #4771cb;
$color-main-link: #33ccc5;
$height: 100px;
$box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);

::selection {
  background: $color-background-selection;
  color: $color-selection;
}

.header {
  height: $height;
  box-shadow: $box-shadow;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .nav {
    &__link {
      a.active:after {
        position: absolute;
        width: 20px;
        height: 2px;
        background-color: $color-link;
        content: '';
        left: 50%;
        bottom: 0px;
        transform: translateX(-10px);
      }
      a.active {
        position: relative;
        color: $color-selection;
      }
    }
  }

  &__logo {
    color: $color-selection;
  }

  &__main-nav {
    .nav {
      li:hover {
        a {
          color: $color-main-link;
        }
      }
      li {
        a {
          color: $color-selection;
        }
      }
    }
  }
}






